[Desktop Entry]
Type=Application
Hidden=false
Exec=gnome-terminal -e "bash -c 'cd /home/vagrant/Desktop/'"
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=InconsistencyInspector
Name=Terminal
Comment[en_US]=Start up Terminal
Comment=Start up Terminal