[Desktop Entry]
Encoding=UTF-8
Name=Link to Inconsistency Inspector - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ha_JOdqqzTE
Icon=text-html
Name[en_US]=How to use Inconsistency Inspector
