[Desktop Entry]
Encoding=UTF-8
Name=Link to Taylor Swift - Wildest Dreams - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=IdneKLhsWOQ
Icon=text-html
Name[en_US]=Link to Inconsistency Inspector 
